.cf902CardsndFooter{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.cf912FrontCards{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cf913vaccine{
  margin-top:2%;
  padding:0.2rem;
  background-color: var(--vaccine-bkgrnd-color);
  border-radius:5px;
  color:var(--vaccine-text-color);
  font-weight:bold;
  width:23.5%;
  display: flex;
  justify-content: space-evenly;
  cursor: default;
  height:29px;
}
