.cf902CardsndFooter{
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:center;
}

.cf912FrontCards{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cf921icon{
 padding-right:0.5rem;
}

.cf913vaccine{
  align-items: center;
  align-self: center;
  background:var(--vaccine-bkgrnd-color);
  border-radius: 5px;
  color:  var(--vaccine-text-color);
  display: flex;
  margin-bottom:3rem;
  margin-top: 2.5rem;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 600;
}

@media screen and (max-width:769px){
  .cf913vaccine{
    margin-bottom:3rem;
    margin-top: 0rem;
    font-size: 12.5px;
  }
}
