.hc301HeaderContainer{
  display: flex;
  justify-content: center;
  padding-top:2em;
  cursor: default;
  color:var(--table-header-txt);
  font-size: 16px;
  height:45px;
}

.hc311headers{
  text-transform: capitalize;
  width:10%;
  font-weight:800;
  padding:0.1px;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  cursor: default;
  background-color:var(--table-header-bkgrnd);
  border-radius:4px;
  border:2px solid var(--table-header-border);
}
