.t01tableContainer{
  align-self: center;
  overflow-x: auto;
  width:100%;
}

.t01tableContainer::-webkit-scrollbar{
 display: none;
}

.t21table{
  border-radius: 3px;
  display: inline-grid;
  font-size: 15px;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, auto);
  column-gap:5px;
  justify-content: center;
  min-width: 100%;
  font-weight:800;
}

.hc301Row{
  display:contents;
  width: 100%;
  text-decoration: none; 
  cursor:default;
}

.t21table .hc301Row .td211cell:first-child {
  background:  var(--table-first-row);
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5em;
  left:0;
  position:sticky;
  z-index: 1;
}

.t21table .tds201TabularDataState:hover .td211cell{
  background: var(--table-row-bkgrnd-hov);
  cursor: pointer;
}

.hc301Row .td211cell{
  background: var(--table-row-bkgrnd);
}

.td211cell:not(:first-child) {
  flex-basis: 4rem;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
}

.td211cell{
  text-transform: capitalize;
  max-width: 10rem;
  align-items: center;
  border-radius: 3px;
  color: var(--table-cells-txt);
  display: flex;
  margin-bottom:0.25em;
  flex-direction: row;
  padding: 1.25rem 2rem 0.5rem;
  position: relative;
}
