.h701header{
  margin:1.2%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center; 
  cursor: default;
  flex-grow:3;
  text-align: right;
  padding-left: 24.5%;
}

.h712show{
  font-size:25px;
}

.h712show::after{
  content:'INDIA';
  color:var(--india-color);
}

.h711Hide{
  display: none;
}

.h714show{
color:var(--state-color);
padding-top:50px;
text-transform:uppercase;
}

.h714show::before{
  content: 'COVID19 ';
  color:var(--covid-color-state);
}
